* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

.cnt {
    height: 100%;
}

.logo-img {
    height: 60px;
    padding: 10px;
    margin-left: 30px;
}

.header-icons {
    display: none;
    float: right;
    padding: 10px;
}

.header-icons i {
    margin-left: 4px;
}

.netherlands-img {
    width: 20px;
}

.content {
    background-color: #eaf7fd;
    height: calc(100% - 120px);
}

.title-container {
    float: right;
}

.title-description {
    height: 30px;
    margin-right: 30px;
}

.title-description i {
    color: #52c2b6;
}

#carouselHeader {
    height: 200px;
    margin-bottom: 30px;
}

.carousel-inner, .carousel-item, img {
    height: 100%;
}

.img1 {
    background-image: url('./assets/images/slide1.jpg');
    height: 100%;
    background-size: cover;
}
.img2 {
    background-image: url('./assets/images/slide2.jpg');
    height: 100%;
    background-size: cover;
}
.img3 {
    background-image: url('./assets/images/slide3.jpg');
    height: 100%;
    background-size: cover;
}

.slider-content {
    font-size: 11px;
}

.img1, .img2, .img3 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}


#cards {
    margin: 0 80px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin-bottom: 30px;
}

.card {
    max-height: 150px;
    padding: 20px;
    box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.18);
    position:relative;
}

.card-img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.card-img img {
    height: 30px;
    width: 30px;
}

.card-text {
    font-size: 10px;
    text-align: center;
}

.notify-badge {
    position: absolute;
    top: -14px;
    background: #52c2b6;
    text-align: center;
    border-radius: 50%;
    color: white;
    height: 25px;
    width: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.card-btn {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #134c60;
    color: white;
}



/* Media */

@media screen and (max-width: 1200px) {
    #cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .cnt {
        height: auto;
    }

    .card-btn {
        padding-bottom: 30px;
    }

    .logo-img {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .cnt {
        height: auto;
    }

    #cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5rem;
        margin: 30px 20px;
    }

    .card-btn {
        padding-bottom: 30px;
    }

    .slider-title {
        text-align: center;
        font-size: 20px;
    }

    .slider-content {
        text-align: center;
    }

    .title-container {
        float: none;
    }

    .stars {
        float: right;
    }

    .title-description {
        margin-left: 30px;
    }

    .logo-img {
        margin: 0;
        max-width: 259px;
    }

    .header-icons {
        display: none;
    }

    @media screen and (max-width: 576px) {
        .header-icons {
            display: inline;
        }
    }

}